{% include "floybd/header.html" %}
{# Display a form #}
{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}


{% load coma_point %}

<script>
  $( function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
    })

    function showHideCombo(){
   		if($("#allStations").prop("checked")){
			$("#combobox").hide()
		}else{
			$("#combobox").show()
		}
    }
</script>
<div class="container">
	<form name="form" action="{% url 'floybd:getConcreteDateValues' %}" method="post" class="form">
		{% csrf_token %}
		<p>Date: <input name = "date" type="text" id="datepicker"></p>
  		<input type="checkbox" id="allStations" onchange="showHideCombo()" name="allStations" value="1">Get All Stations
		<select id="combobox" name="station">
		{% for entry in stations %}
		    <option value="{{ entry.station_id }}">{{  entry.name }} - {{  entry.station_id }} ( {{  entry.province }})</option>
		{% endfor %}
		</select>
		<a href="{% url 'floybd:weather' %}"><input type="button" value="Go Back" class="btn btn-default"/></a>
		<input type="submit" value="{{ getValues }}" class="btn"/>
	</form>
</div>