{% include "floybd/header.html" %}
{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}

<script>
  $( function() {
    	{% if stats %}
			markActive("item4");
    	{% else %}
    		markActive("item3");
    	{% endif %}
   });
</script>

{% load static %}
<script src="{% static 'js/geoxml3.js' %}"></script>

{% load coma_point %}

<div id="content-wrapper">
<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-12">
	{% if kml != None %}
		<div class="mui--text-center">
			<div class="mui--text-display2">Prediction for station <b>{{ concreteStation.name }}</b> </div>

		<form name="form" action="{% url 'floybd:sendPredictionsToLG' %}" method="post" class="form">
			{% csrf_token %}
			<input type="hidden" name="station_id" value="{{ concreteStation.station_id }}">
			<input type="hidden" name="fileName" value="{{ fileName }}">
			{% if stats %}
				<input type="hidden" name="stats" value="1">
			{% endif %}
			<input type="submit" value="{{ sendValues }}" class="mui-btn mui-btn--primary"/>
		</form>
		</div>

    	<div class="mui--text-center" id="map" style="height: 75%;width: 100%;"></div>
		<script>
		  var map;
		  function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  center: {lat: {{  concreteStation.latitude|coma_point }}, lng: {{ concreteStation.longitude|coma_point }}},
			  zoom: 16,
			  mapTypeId: google.maps.MapTypeId.HYBRID
			});

			var myParser = new geoXML3.parser({map: map,zoom : false});
			myParser.parse('{{ kml }}');

		  }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-aQfXs4a0-BSGR3VmoIYdvknXMVh-W8&callback=initMap"
		  async defer></script>
	{% else %}
		<p>No Results</p>
	{% endif %}
		</div>
		</div>
	</div>
</div>
{% include "floybd/footer.html" %}