{% include "floybd/header.html" %}
{# Display a form #}
{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}

{% load static %}
<script src="{% static 'js/geoxml3.js' %}"></script>

{% load coma_point %}

<script>
  $( function() {
   $('#datepickerFrom').datetimepicker({
			'format' : "YYYY-MM-DD",
			'maxDate' : new Date()
		});

     $('#datepickerTo').datetimepicker({
			'format' : "YYYY-MM-DD",
			useCurrent: false,
			'maxDate' : new Date()
		});

        $("#datepickerFrom").on("dp.change", function (e) {
            $('#datepickerTo').data("DateTimePicker").minDate(e.date);
        });

        $("#datepickerTo").on("dp.change", function (e) {
            $('#datepickerFrom').data("DateTimePicker").maxDate(e.date);
        });
    })

     function showHideComboStations(){
		if($("#allStations").prop("checked")){
			$("#comboboxDiv").hide()
		}else{
			$("#comboboxDiv").show()
		}
    }

     function showHideComboDate(){
		if($("#allTime").prop("checked")){
			$("#datepickerFrom").prop('disabled', true);
			$("#datepickerTo").prop('disabled', true);
		}else{
		    $("#datepickerFrom").prop('disabled', false);
			$("#datepickerTo").prop('disabled', false);
		}
    }

</script>
<div id="content-wrapper">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-12">
                {% if kml == None %}
                  <h1>Weather Stats</h1>
                <form name="form" action="{% url 'floybd:getStats' %}" method="post" class="form">
                    {% csrf_token %}
                    <p>
                    <input type="checkbox" id="allTime" onchange="showHideComboDate()" name="allTime" value="1"><label for="allTime">Get
                        Stats All Time</label>
                        <div id="dateDiv">
                         <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                            <label class="control-label" for="datepickerFrom">Date From</label>
                            <input required type="text" name="dateFrom" id="datepickerFrom" class="form-control" />
                        </div>
                         <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                <label class="control-label" for="datepickerTo">Date to</label>
                                <input required type="text" name="dateTo" id="datepickerTo" class="form-control" />
                            </div>
                        </div>
                    </p>
                    <p>
                    <input type="checkbox" id="allStations" onchange="showHideComboStations()" name="allStations"
                           value="1"><label for="allStations">Get All Stations</label>
                    <div id="comboboxDiv">
                        <select id="combobox" name="station">
                            {% for entry in stations %}
                            <option value="{{ entry.station_id }}">{{ entry.name }} - {{ entry.station_id }} ( {{ entry.province }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    </p>
                    <p>
                    <input type="submit" value="{{ getValues }}" class="mui-btn mui-btn--primary"/>
                    </p>
                </form>
                {% else %}

                <div class="mui--text-center">
                    <h3>Viewing Stats </h3>

                    <form name="form" action="{% url 'floybd:sendStatsToLG' %}" method="post" class="form">
                        {% csrf_token %}
                        <input type="hidden" name="allStations" value="allStations">
                        <input type="hidden" name="fileName" value="{{ fileName }}">
                        <input type="submit" value="{{ sendValues }}" class="btn btn-default"/>
                        <a href="{% url 'floybd:weatherStats' %}"><input type="button" value="Go Back"
                                                                         class="btn btn-default"/></a>
                    </form>
                </div>
                <div class="mui--text-center" id="mapAll" style="height: 75%;width: 100%;"></div>
                <script>
		  var map;
		  function initMap() {
			map = new google.maps.Map(document.getElementById('mapAll'), {
			  zoom: 8,
			  mapTypeId: google.maps.MapTypeId.HYBRID
			});

			var myParser = new geoXML3.parser({map: map});
			myParser.parse('{{ kml }}');

		  }


                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-aQfXs4a0-BSGR3VmoIYdvknXMVh-W8&callback=initMap"
                        async defer></script>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "floybd/footer.html" %}