{% include "floybd/header.html" %}

{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}


{% load coma_point %}

<script>
  $( function() {
    markActive("item2");

    $('#date').datetimepicker({
			'format' : "YYYY-MM-DD",
			'maxDate' : new Date()
		});
    })


    function showHideCombo(){
   		if($("#allStations").prop("checked")){
			$("#comboDiv").hide()
		}else{
			$("#comboDiv").show()
		}
     }

    function getLang()
    {
     if (navigator.languages != undefined)
         return navigator.languages[0];
     else
        return navigator.language;
    }


</script>
<div id="content-wrapper">
    <div class="mui--text-center mui--text-display3">Weather Concrete Day</div>
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">

        <form name="form" action="{% url 'floybd:getConcreteDateValues' %}" method="post" class="mui-form">
            {% csrf_token %}
            <div class="mui-row">
                <div class="col-xs-12">
                  <div class="mui--text-center">
                     <div class="mui-textfield mui-textfield--float-label">
                        <input required type="text" name="date" id="date" class="form-control" />
                         <label for="date">Date</label>
                    </div>
                      <div class="col-xs-3">
                        <input type="checkbox" id="allStations" onchange="showHideCombo()" name="allStations"
                           value="1"><label for="allStations">Get All Stations</label>
                    </div>
                     <div class="col-xs-12">
                        <div id="comboDiv">
                            <select id="combobox" name="station">
                                {% for entry in stations %}
                                    <option value="{{ entry.station_id }}">
                                        {{ entry.name }} - {{ entry.station_id }} ( {{entry.province }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                     </div>

                </div>
                </div>
            </div>
            <div class="mui-row">
                  <div class="mui--text-center">
                <div class="col-xs-12">
                   <input type="submit" value="{{ getValues }}" class="mui-btn mui-btn--primary"/>
                </div>
                  </div>
            </div>
        </form>
    </div>
</div>

{% include "floybd/footer.html" %}