
*.pyc

virtualEnv/bin/

virtualEnv/include/

virtualEnv/lib/

virtualEnv/man/

virtualEnv/share/

virtualEnv/pip-selfcheck\.json

Django/\.idea/

*.kml

Django/mysite/static/kmls/

Django/mysite/static/upload/gtfs/

Django/mysite/transitfeedcrash\.txt

Django/mysite/db\.sqlite3

DataMining/weather/ml/predictionMLIB\.py

Django/mysite/floybd/migrations/merda/
