
*.pyc

virtualEnv/bin/

virtualEnv/include/

virtualEnv/lib/

virtualEnv/man/

virtualEnv/share/

virtualEnv/pip-selfcheck\.json

Django/\.idea/

*.kml

*.kmz

Django/mysite/static/kmls/

Django/mysite/static/upload/gtfs/

Django/mysite/transitfeedcrash\.txt

Django/mysite/db\.sqlite3

DataMining/weather/ml/predictionMLIB\.py

Django/mysite/floybd/migrations/merda/

*.sqlite3_backup


Django/mysite/db \(copia\)\.sqlite3_backAll

*.out

Flask/\.idea/

DataMining/\.idea/

*.iml

DataGatheringAndCleaning/\.idea/inspectionProfiles/

DataGatheringAndCleaning/\.idea/

Django/\.vscode/
