<script>
    $(function() {
        setInterval( "slideSwitchFooter()", 6000 );
    });

    function slideSwitchFooter() {
        var $active = $('#footerSlideshow IMG.active');

        if ( $active.length == 0 ) $active = $('#footerSlideshow IMG:last');

        var $next =  $active.next().length ? $active.next()
            : $('#footerSlideshow IMG:first');

        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 100, function() {
                $active.removeClass('active');
            });
}


</script>
<footer id="footer">
  <div class="mui-container-fluid">
      Fly Over Your Big Data - GSOC 2017 - Ivan Josa<br/>
      &copy; Weather Data - <a href="http://www.aemet.es/es/portada" target="_blank">AEMET</a> |
      &copy; Earthquakes Data - <a href="https://earthquake.usgs.gov/" target="_blank">USGS</a>
  </div>
</footer>