{% include "floybd/header.html" %}
{# Display a form #}
<div id="content-wrapper">
<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui--text-center">
                <a href="{% url 'floybd:dayWeather' %}" class="btn btn-default">Weather Concrete Day</a>
                <a href="{% url 'floybd:predictWeather' %}" class="btn btn-default">Weather Predictions</a>
                <a href="{% url 'floybd:weatherStats' %}" class="btn btn-default">Weather Stats</a>
                <a href="{% url 'floybd:citydashboard' %}" class="btn btn-default">City Dashboard</a>
            </div>
        </div>
    </div>
</div>
</div>
<footer id="footer">
  <div class="mui-container-fluid">
    <br>
   GSOC 2017 - Ivan Josa
  </div>
</footer>
