{% include "floybd/header.html" %}
{% load static %}


<script>
  $( function() {
    markActive("earthquakes");
    submitAjaxForm("earthquakesForm",true);

    $('#date').datetimepicker({
        'format' : "YYYY-MM-DD",
        useCurrent: false,
        'maxDate' : new Date()
    });
  })



</script>
<div id="content-wrapper">
     <div class="mui--appbar-height"></div>
      <div class="mui--text-center">
        <div class="mui--text-display2">Earthquakes</div>
      </div>
<div class="mui-container-fluid">
          <div class="mui-row">
               <div class="col-xs-12">
                     <div id="spinnerDiv" style="display:none">
                     <div class="modal"> </div>
                        <div class="overlay loading-indicator">
                         <div id="spinner-target"></div>
                       </div>
                    </div>
               </div>
          </div>
          <div class="mui-row">
            <div class="mui--text-center">
                <form  class="mui-form"  id="earthquakesForm" action="{% url 'floybd:getEarthquakes' %}" method="post" >
                    {% csrf_token %}
                        <div class="mui-row">
                            <div class="mui-panel">
                            <div class="col-xs-6">
                                <div class="mui-checkbox">
                                    <input type="checkbox" id="createTour" name="createTour" value="1"><label for="createTour">
                                    Create a tour through all earthquakes</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="mui-textfield mui-textfield--float-label">
                                    <input required type="text" name="date" id="date" class="form-control" />
                                     <label for="date">Date From</label>
                                 </div>
                            </div>
                            </div>
                        </div>
                        <div class="mui-row">
        <div id="map" style="height: 35%;width: 100%;"></div>
        <script type="text/javascript" src="{% static 'js/mapEarthquakes.js' %}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-aQfXs4a0-BSGR3VmoIYdvknXMVh-W8&libraries=drawing&callback=initMap"></script>
    </div>
                      <div class="mui--text-center col-xs-6">
                        <fieldset>
                            <legend>Coordinates</legend>
                            <div class="col-xs-6">
                                Max Latitude: <input readonly="readonly" type="text" id="max_lat" name="max_lat"/>
                                Min Latitude: <input readonly="readonly" type="text" id="min_lat" name="min_lat"/>
                            </div>
                            <div class="col-xs-6">

                                Max Longitude: <input readonly="readonly" type="text" id="max_lon" name="max_lon"/>
                                Min Longitude: <input readonly="readonly" type="text" id="min_lon" name="min_lon"/>
                            </div>
                        </fieldset>
                      </div>
                    <div class="mui--text-center col-xs-6">
                         <div class="mui--appbar-height"></div>
                        <div class="mui-row">
                            <input type="submit" value="Get Earthquakes" class="mui-btn mui-btn--primary"/>
                        </div>

                    </div>
                </form>
               <div class="mui-row">
                    <button id="delete-button" class="mui-btn mui-btn--danger">Delete Selected Shape</button>
               </div>
            </div>
        </div>
    </div>

</div>
</div>
<br/>
{% include "floybd/footer.html" %}