{% include "floybd/header.html" %}
{# Display a form #}

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui--text-center">
                <h1>Fly Over Your Big Data</h1>
                <a href="{% url 'floybd:weather' %}" class="mui-btn mui-btn--primary">Weather</a>
                <a href="{% url 'floybd:earthquakes' %}" class="mui-btn mui-btn--primary">Earthquakes</a>
                <a href="{% url 'floybd:gtfs' %}" class="mui-btn mui-btn--primary">GTFS</a>
            </div>
        </div>
        </div>
    </div>
</div>

{% include "floybd/footer.html" %}