{% include "floybd/header.html" %}
{# Display a form #}
<div id="content-wrapper">
    	<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui--text-center">
                <a href="{% url 'floybd:dayWeather' %}" class="mui-btn mui-btn--primary">Weather Concrete Day</a>
                <a href="{% url 'floybd:predictWeather' %}" class="mui-btn mui-btn--primary">Weather Predictions</a>
                <a href="{% url 'floybd:weatherStats' %}" class="mui-btn mui-btn--primary">Weather Stats</a>
                <a href="{% url 'floybd:citydashboard' %}" class="mui-btn mui-btn--primary">City Dashboard</a>
            </div>
        </div>
    </div>
</div>
</div>
{% include "floybd/footer.html" %}