{% include "floybd/header.html" %}
{% load static %}

<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
        <div class="mui-row">
        <div class="mui-col-md-12">
            <div class="mui--text-center">
                <div class="mui--text-display3">Welcome!</div>
                <br/><br/><br/><br/>
                <div class="mui--text-display4"><b>FLOYBD</b></div>
                <br/> <br/>
                <div class="mui--text-display1"><i>Fly Over Your Big Data</i></div>

            </div>
        </div>
        </div>
    </div>
</div>

{% include "floybd/footer.html" %}