{% load static %}


<script>
function activateAboutModal(){
    // initialize modal element
    var modalEl = document.createElement('div');

    var center = document.createElement("center");
    var div = document.createElement("div");
    div.className = "modal-about";
    div.innerHTML = '<div class="mui-container-fluid">'+
        '<div class="mui-row">'+
        '<div class="mui-col-md-12">'+
           '<div class="mui--text-center">'+
                '<div class="mui--text-display3"><b>Fl</b>y <b>O</b>ver <b>Y</b>our <b>B</b>ig <b>D</b>ata</div>'+
                '<br/>'+
                '<div class="mui--text-display2"><a href="mailto:ivanjosallovera@gmail.com">Ivan Josa Llovera</a></div>'+
                '<br/>'+
                '<div class="mui--text-display1">GSOC 2017</div>'+
               '<div class="mui--text-display1"><a target="_blank" href="https://github.com/LiquidGalaxyLAB/FLOYBD">Github</a></div>'+
            '</div>'+
        '</div>'+
        '</div>'+
    '</div>'


    center.appendChild(div)

    modalEl.appendChild(center);

    // show modal
    mui.overlay('on', modalEl);
    $("#mui-overlay").css('background-color','rgba(0,0,0,.8)');
}


function openHelpModal(message) {
    // initialize modal element
    var modalEl = document.createElement('div');
    modalEl.className = "modal-help";
    modalEl.style.width = '75%';
    modalEl.style.height = 'auto';
    modalEl.style.margin = '100px auto';
    modalEl.style.backgroundColor = '#7986cb';


    var center = document.createElement("center");
    var div = document.createElement("div");
    div.className = "modal-help";

     div.innerHTML = '<div class="mui-container-fluid">'+
        '<div class="mui-row">'+
        '<div class="mui-col-md-12">'+
           '<div class="mui--text-center">'+
                '<div class="mui--text-display1">'+message+'</div>'+
            '</div>'+
        '</div>'+
        '</div>'+
    '</div>'

    center.appendChild(div)

    modalEl.appendChild(center);

    // show modal
    mui.overlay('on', modalEl);
 }



function slideSwitch() {
    var $active = $('#slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');

    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}



function activateGreetingsModal(){
     var modalEl = document.createElement('div');
     modalEl.id = "slideshow"
     modalEl.className = "modal-greetings"

     var initDiv = "<div id='slideshow'>";
     var html = "";

     $.ajax({
                url: "{% url 'floybd:getSlideImage' %}",
                type: "GET",
                cache: false,
                dataType: 'json',
                success: function (response) {
                    var images =  response.images;
                    $(images).each(function( index,value ) {
                        if(index==0){
                            html+="<img src='"+value+"' class='active'/>";
                        }
                        else{
                           html+="<img src='"+value+"'/>";
                        }
                    });
                    modalEl.innerHTML = html;
                    var style="#slideshow {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);}"+
                                "#slideshow > img {background-color:white;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);;z-index:8;display:none;}"+
                                "#slideshow > img.active { z-index:10;display:block;}"+
                                "#slideshow > img.last-active {z-index:9;display:none;}";
                    $("<style>").text(style).appendTo("head");
                    // show modal
                    mui.overlay('on', modalEl);
                    setInterval( "slideSwitch()", 5000 );
                },
                error: function(response){

                }
     });
}

function markActive(className){
    $("li."+className).parent().show()
    $("li."+className+" > a").css("color", "#ededed")
}

function openHelp(){
    $.ajax({
        url: '{% url 'floybd:openHelp' %}',
        type: 'GET',
        success: function (returnValue) {
           if(returnValue){
                openHelpModal(returnValue.helpContent);
           }
        }
    });
}

</script>

<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
      <center><span class="mui--text-title"><a href="/"><img style="width: 50%;" src="{% static 'img/webLogo.png' %}"/></a></span></center>
</div>
<div class="mui-divider"></div>
<ul>
     <li>
        <strong><img style="vertical-align: middle;" src="{% static 'img/demoIcon.png' %}" width="20%"/>Demonstrations</strong>
        <ul>
            <li class="menu item1"><a href="{% url 'floybd:weatherDemos' %}"><b>Weather Demos </b></a></li>
            <li class="menu demoearthquakes"><a href="{% url 'floybd:demoEarthquakes' %}"><b>Earthquakes Demos</b></a></li>
            <li class="menu item19"><a href="{% url 'floybd:demogtfsindex' %}"><b>Hyperloop Demo</b></a></li>
        </ul>
    </li>
  <li>
    <strong><img style="vertical-align: middle;" src="https://png.icons8.com/partly-cloudy-day/color/24" title="Weather" width="20%">
     Weather</strong>
    <ul>
        <li class="menu item1"><a href="{% url 'floybd:weatherDemos' %}"><b>Weather Demos</b></a></li>
        <li class="menu item2"><a href="{% url 'floybd:dayWeather' %}"><b>Weather Concrete Day</b></a></li>
        <li class="menu item3"><a href="{% url 'floybd:predictWeather' %}"><b>Weather Predictions</b></a></li>
        <li class="menu item4"><a href="{% url 'floybd:predictWeatherStats' %}"><b>Weather Predictions based on stats</b></a></li>
        <li class="menu item5"><a href="{% url 'floybd:weatherStats' %}"><b>Weather Stats</b></a></li>
        <li class="menu item6"><a href="{% url 'floybd:citydashboard' %}"><b>City Dashboard</b></a></li>
    </ul>
  </li>
  <li>
    <strong><img style="vertical-align: middle;" src="https://png.icons8.com/earthquakes/color/24" title="Earthquakes"
                 width="20%">Earthquakes</strong>
    <ul>
        <li class="menu demoearthquakes"><a href="{% url 'floybd:demoEarthquakes' %}"><b>Demo Earthquakes</b></a></li>
        <li class="menu earthquakes"><a href="{% url 'floybd:earthquakes' %}"><b>Earthquakes</b></a></li>
        <li class="menu earthquakesHeatMap"><a href="{% url 'floybd:heatMapEarthquakes' %}"><b>Earthquakes Heat Map</b></a></li>
    </ul>
  </li>
  <li>
    <strong><img style="vertical-align: middle;" src="https://png.icons8.com/in-transit/color/24" title="GTFS"
                 width="20%"> GTFS</strong>
    <ul>
         <li class="menu item19"><a href="{% url 'floybd:demogtfsindex' %}"><b>Demo GTFS</b></a></li>
        <li class="menu item7"><a href="{% url 'floybd:viewgtfs' %}"><b>View GTFS</b></a></li>
        <li class="menu item8"><a href="{% url 'floybd:uploadgtfs' %}"><b>Upload New GTFS</b></a></li>
    </ul>
  </li>
    <li>
    <strong><img style="vertical-align: middle;" src="{% static 'img/lgLogo.png' %}" title="LG"
                 width="20%">Liquid Galaxy Management</strong>
    <ul>
        <li class="menu item12"><a href="{% url 'floybd:clearKML' %}"><b>Clear KMLs Folder</b></a></li>
        <li class="menu item13"><a href="{% url 'floybd:stopTour' %}"><b>Stop Current Tour</b></a></li>
        <li class="menu item18"><a href="{% url 'floybd:relaunchLG' %}"><b>Relaunch Liquid Galaxy</b></a></li>
        <li class="menu item17"><a href="{% url 'floybd:clearCache' %}"><b>Clear Liquid Galaxy Cache</b></a></li>
    </ul>
  </li>
    <li>
        <strong><img style="vertical-align: middle;" src="{% static 'img/more.png' %}" width="20%"/>More</strong>
        <ul>
            <li class="menu item11"><a target="_blank" href="{% url 'floybd:settings' %}"><b>Settings</b></a></li>
            <li class="menu item10"><a href="#" onclick="activateAboutModal()"><b>About</b></a></li>
            <li class="menu item15"><a href="#" onclick="activateGreetingsModal()"><b>Special Thanks</b></a></li>
        </ul>
    </li>
</ul>

<div class="mui-container-fluid">
   <div id="footerSlideshow" class="">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/aemet.png" class="active">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/usgs.png">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/fiware.png">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/gsoc.jpg">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/eps.jpg">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/logo-liquidgalaxylab.png">
       <img style="max-width:100%; max-height=100%;" src="static/img/slides/pcital.jpg">
   </div>
</div>

</div>
<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <table width="100%">
    <tr style="vertical-align:middle;">
       <td class="mui--appbar-height"><a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer"><i class="material-icons">menu</i></a>
           <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer"><i class="material-icons menuIcon">menu</i><span class="menuApp">Fly Over Your Big Data</span></a>
            <span style="color:white;" class="mui--text-title mui--visible-xs-inline-block">Fly Over Your Big Data</span>
       </td>
       <td class="mui--appbar-height" style="color:white;float:right;" align="right">
           <a class="helpIcon" href="#" onclick="openHelp()"><i class="material-icons">help</i></a>
       </td>
    </tr>
    </table>
    </div>
</header>
