{% load static %}

<script>
  function activateAboutModal() {
    // initialize modal element
    var modalEl = document.createElement('div');
    modalEl.style.width = '400px';
    modalEl.style.height = '300px';
    modalEl.style.margin = '100px auto';
    modalEl.style.backgroundColor = '#fff';

    var center = document.createElement("center");
    var para = document.createElement("p");
    var node = document.createTextNode("GSOC 2017 - Ivan Josa");

    para.appendChild(node);
    center.appendChild(para)

    var para1 = document.createElement("p");
    var a = document.createElement('a');
    var linkText = document.createTextNode("Github");
    a.appendChild(linkText);
    a.title = "GitHub";
    a.href = "https://github.com/LiquidGalaxyLAB/FLOYBD";
    a.target = "_blank"
    para1.appendChild(a);

    center.appendChild(para1)

    var paraThanks = document.createElement("p");
    var nodeThanks = document.createTextNode("Thanks to...");
    paraThanks.appendChild(nodeThanks);

    center.appendChild(paraThanks)

    modalEl.appendChild(center);

    // show modal
    mui.overlay('on', modalEl);
  }

  function activateHelpModal() {
    // initialize modal element
    var modalEl = document.createElement('div');
    modalEl.style.width = '400px';
    modalEl.style.height = '300px';
    modalEl.style.margin = '100px auto';
    modalEl.style.backgroundColor = '#fff';

    var para = document.createElement("p");
    var node = document.createTextNode("Help Me!");
    para.appendChild(node);

    modalEl.appendChild(para);

    // show modal
    mui.overlay('on', modalEl);
  }

  function markActive(className){
    $("li."+className).parent().show()
    $("li."+className+" > a").css("color", "white")
  }
</script>

<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
      <center><span class="mui--text-title"><a href="/floybd"><img style="width: 50%;" src="{% static 'img/logo.png' %}"/></a></span></center>
</div>
<div class="mui-divider"></div>
<ul>
  <li>
    <strong><img src="https://png.icons8.com/partly-cloudy-day/color/24" title="Weather" width="20%">
     Weather</strong>
    <ul>
        <li class="menu item1"><a href="{% url 'floybd:weather' %}">Weather Index</a></li>
        <li class="menu item2"><a href="{% url 'floybd:dayWeather' %}">Weather Concrete Day</a></li>
        <li class="menu item3"><a href="{% url 'floybd:predictWeather' %}">Weather Predictions</a></li>
        <li class="menu item4"><a href="{% url 'floybd:predictWeatherStats' %}">Weather Predictions based on stats</a></li>
        <li class="menu item5"><a href="{% url 'floybd:weatherStats' %}">Weather Stats</a></li>
        <li class="menu item6"><a href="{% url 'floybd:citydashboard' %}">City Dashboard</a></li>
    </ul>
  </li>
  <li>
    <strong><img src="https://png.icons8.com/earthquakes/color/24" title="Earthquakes"
                 width="20%"> Earthquakes</strong>
    <ul>
      <li class="menu earthquakes"><a href="{% url 'floybd:earthquakes' %}">Earthquakes</a></li>
        <li class="menu earthquakesHeatMap"><a href="{% url 'floybd:heatMapEarthquakes' %}">Earthquakes Heat Map</a></li>
    </ul>
  </li>
  <li>
    <strong><img src="https://png.icons8.com/in-transit/color/24" title="GTFS"
                 width="20%"> GTFS</strong>
    <ul>
        <li class="menu item7"><a href="{% url 'floybd:viewgtfs' %}">View GTFS</a></li>
        <li class="menu item8"><a href="{% url 'floybd:uploadgtfs' %}">Upload New GTFS</a></li>
    </ul>
  </li>
    <li>
        <strong><img src="{% static 'img/more.png' %}" width="20%"/>More</strong>
        <ul>
            <li class="menu item9"><a href="#" onclick="activateHelpModal()">Help</a></li>
            <li class="menu item10"><a href="#" onclick="activateAboutModal()">About</a></li>
            <li class="menu item11"><a target="_blank" href="{% url 'floybd:settings' %}">Settings</a></li>
            <li class="menu item12"><a href="{% url 'floybd:clearKML' %}">Clear KMLs Folder</a></li>
        </ul>
    </li>
</ul>
</div>
<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer"><i class="material-icons">menu</i></a>
      <span class="mui--text-title mui--visible-xs-inline-block">Fly Over Your Big Data</span>
    </div>
  </div>
</header>
