{% include "floybd/header.html" %}


{% load static %}
{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}

<script type="text/javascript">
    $(document).ready(function() {
    markActive("item7");
    var table = $('#gtfsTable').DataTable( {
            columnDefs: [ {
                orderable: false,
                targets:   0
            } ],

            order: [[ 1, 'asc' ]]
        } );


         $("#gtfsForm").submit(function (e) {
            $('html,body').scrollTop(0);
            e.preventDefault();
            var form_data = $(this).serialize();
            var form_url = $(this).attr("action");
            var form_method = $(this).attr("method").toUpperCase();

            $('#spinnerDiv').show()
            $('.modal').toggleClass('show');
             FLEXPAPER.utils.addSpinner({
                element     : 'spinner-target',
                width       : 500,
                height      : 500,
                logo        : "{% static 'img/gear.gif' %}"
            });

            $.ajax({
                url: form_url,
                type: form_method,
                data: form_data,
                cache: false,
                success: function (returnhtml) {
                   $('.modal').toggleClass('hide');
                   $('#spinnerDiv').hide()
                    FLEXPAPER.utils.removeSpinner('spinner-target');
                    $("body").html(returnhtml)
                }
            });
        })

} );

</script>

<div id="content-wrapper">
<div class="mui-container-fluid">
      <div class="mui--text-center">
             <div id="spinnerDiv" style="display:none">
             <div class="modal"> </div>
                <div class="overlay loading-indicator">
                 <div id="spinner-target" style="left:50%;top:50%;"></div>
               </div>
            </div>
         </div>
    <div class="mui-row">
        <div class="mui-col-md-12">

            <div class="mui--text-center">
                 <div class="mui--text-display3">GTFS Agencies</div>

        {% if agencies != None %}

            <form class="mui-form" id="gtfsForm" name="form" action="{% url 'floybd:getAgenciesAndGenerateKML' %}" method="post" >
                {% csrf_token %}
                <div class="mui-textfield mui-textfield--float-label">
                    <input required type="number" name="maxCars" id="maxCars">
                     <label for="maxCars">Max Number of cars per agency (the greater, the slower)</label>
                 </div>
                <table id="gtfsTable" class="mdl-data-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Url</th>
                            <th>Timezone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in agencies %}
                        <tr>
                            <td>
                                <input type="checkbox" id="{{ entry.agency_id }}" name="agenciesSelected" value="{{ entry.agency_id }}"><label for="{{ entry.agency_id }}"></label>
                            </td>
                            <td>
                                {{ entry.agency_id }}
                            </td>
                             <td>
                                {{ entry.agency_name }}
                            </td>
                            <td>
                                <a href="{{ entry.agency_url}}" target="_blank">{{ entry.agency_url}}</a>
                            </td>
                            <td>
                                {{ entry.agency_timezone}}
                            </td>
                            <!--<input type="checkbox" name="agenciesSelected" value="{{ entry.agency_id }}">{{ entry.agency_id }} - {{ entry.agency_name }}<br/>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <input type="submit" value="{{ getValues }}" class="mui-btn mui-btn--primary"/>
            </form>

        {% endif %}
        </div>
        </div>
        </div>
    </div>
</div>
{% include "floybd/footer.html" %}