{% include "floybd/header.html" %}

{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send Values to LG" as sendValues %}

{% load static %}
<script src="{% static 'js/geoxml3.js' %}"></script>
<script>
  $( function() {
    markActive("item7");
    });
</script>
<div id="content-wrapper">
	<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-12">


			<div class="mui--text-center">
			{% if kml != None %}

				<form name="form" action="{% url 'floybd:sendGTFSToLG' %}" method="post" class="form">
					{% csrf_token %}
					<input type="hidden" name="kmlPath" value="{{  kml }}">
					<input type="hidden" name="carKml" value="{{  carKml }}">
					<input type="hidden" name="flyToLon" value="{{  flyToLon }}">
					<input type="hidden" name="flyToLat" value="{{  flyToLat }}">
					<input type="submit" value="{{ sendValues }}" class="mui-btn mui-btn--primary"/>
					<a href="{% url 'floybd:viewgtfs' %}"><input type="button" value="Go Back" class="mui-btn mui-btn--primary"/></a>
				</form>
				<div class="span6 center-block" id="map" style="height: 75%;width: 100%;"></div>
				<script>
				  var map;
				  function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
					zoom: 5,
					 mapTypeId: google.maps.MapTypeId.HYBRID
					});

					var myParser = new geoXML3.parser({map: map});
					myParser.parse('{{ kml }}');
				}

				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-aQfXs4a0-BSGR3VmoIYdvknXMVh-W8&&callback=initMap"
				  async defer></script>
			{% endif %}
			</div>
		</div>
		</div>
	</div>
</div>
{% include "floybd/footer.html" %}