.modal {
  /*background: rgba(255, 255, 255, .8);*/
  background: rgba(171, 164, 164, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9000; // z-index: map-get($z-index, overlay);
  padding: 1em;
  width: 100%;
  max-height: 100%;
}


[class*="overlay"] {
    position: fixed;
    z-index: 11000; // z-index: map-get($z-index, modal);
    background: #fff;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
  &--top-left {
    left: 0;
    top: 0;
    margin-top: 1em;
    margin-left: 1em;
    transform: translate(0, 0);
  }

  &--top {
    left: 50%;
    top: 0;
    margin-top: 1em;
    transform: translate(-50%, 0);
  }

  &--top-right {
    left: inherit;
    right: 0;
    top: 0;
    margin-top: 1em;
    margin-right: 1em;
    transform: translate(0, 0);
  }

  &--left {
    left: 0;
    margin-left: 1em;
    transform: translate(0, -50%);
  }

  &--right {
    left: inherit;
    right: 0;
    margin-right: 1em;
    transform: translate(0, -50%);
  }

  &--bottom {
    left: 50%;
    top: inherit;
    bottom: 0;
    margin-bottom: 1em;
    transform: translate(-50%, 0);
  }

  &--bottom-left {
    left: 0;
    top: inherit;
    bottom: 0;
    margin-bottom: 1em;
    margin-left: 1em;
    transform: translate(0, 0);
  }

  &--bottom-right {
    top: inherit;
    left: inherit;
    right: 0;
    bottom: 0;
    margin-bottom: 1em;
    margin-right: 1em;
    transform: translate(0, 0);
  }
}

.loading-indicator {
 /* background-color: #265F98;*/
  background-color: transparent;
  color: #fff;
  padding: 1em;
  text-align: center;
}