{% include "floybd/header.html" %}
{% load static %}


<script>
  $( function() {
    markActive("earthquakesHeatMap");
    submitAjaxForm("earthquakesForm",true);

    $('#dateFrom').datetimepicker({
        'format' : "YYYY-MM-DD",
        useCurrent: false,
        'maxDate' : new Date()
    });

      $('#dateTo').datetimepicker({
            'format' : "YYYY-MM-DD",
            useCurrent: false,
            'maxDate' : new Date()
        });

     $("#dateFrom").on("dp.change", function (e) {
            $('#dateTo').data("DateTimePicker").minDate(e.date);
        });

        $("#dateTo").on("dp.change", function (e) {
            $('#dateFrom').data("DateTimePicker").maxDate(e.date);
        });
  })

   function disableDateTo(){
		if($("#dateToNow").prop("checked")){
			$("#dateTo").prop('disabled', true);
		}else{
		    $("#dateTo").prop('disabled', false);
		}
    }

   function updateProgressBar(){
    var currentWidth = $(".determinate").width()
    $(".determinate").width(currentWidth+15)
 }

</script>

<div id="content-wrapper">
    	<div class="mui--appbar-height"></div>
     <div class="mui--text-center">
        <div class="mui--text-display2">Earthquakes HeatMap</div>
      </div>
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid">
          <div class="mui-row">
               <div class="col-xs-12">
                     <div id="spinnerDiv" style="display:none">
                     <div class="modal"> </div>
                        <div class="overlay loading-indicator">
                         <div id="spinner-target"></div>
                       </div>
                          <div class="mui--text-center">
                          <div>
                              <div class="mui--text-display1 mui--text-dark-secondary">Getting, filtering and parsing
                                  earthquakes data.<br/> Depending on the number of them and the parameter that you have
                                  configured, it could take some time.<br/>
                              Please be patient.</div>
                                <div class="progress">
                                  <div class="determinate" style="width: 0%"></div>
                                </div>
                            </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="mui-row">
            <div class="mui--text-center">

                <form  class="mui-form"  id="earthquakesForm" action="{% url 'floybd:getHeatMapEarthquakes' %}" method="post" >
                    {% csrf_token %}
                        <div class="mui-row">
                            <div class="mui-panel">
                            <div class="mui-col-md-6">
                                <div class="mui-textfield mui-textfield--float-label">
                                    <input required type="text" name="dateFrom" id="dateFrom" class="form-control" />
                                     <label for="dateFrom">Date From</label>
                                 </div>
                            </div>
                                <div class="mui-col-md-6">
                                <div class="mui-textfield mui-textfield--float-label">
                                    <input required type="text" name="dateTo" id="dateTo" class="form-control" />
                                     <label for="dateTo">Date To</label>
                                 </div>
                                      <div class="mui-checkbox">
                                        <input type="checkbox" id="dateToNow" onclick="disableDateTo()"
                                               name="dateToNow" value="1">
                                        <label for="dateToNow">Until today</label>
                                    </div>
                            </div>
                            </div>
                        </div>
                     <div class="mui--text-center">
                        <div class="col-xs-12">
                            <input type="submit" value="Get HeatMap" class="mui-btn mui-btn--primary"/>
                        </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "floybd/footer.html" %}