{% include "floybd/header.html" %}

{% load i18n %}
{% trans "Get Values" as getValues %}
{% trans "Send HeatMap KML to LG" as sendValues %}
{% load static %}
<script>
  $( function() {
    markActive("earthquakesHeatMap");

    $("#heatMapform").submit(function (e) {
        $('html,body').scrollTop(0);
        e.preventDefault();
        var form_data = $(this).serialize();
        var form_url = $(this).attr("action");
        var form_method = $(this).attr("method").toUpperCase();

        $('#spinnerDiv').show()
        $('.modal').toggleClass('show');
         FLEXPAPER.utils.addSpinner({
            element     : 'spinner-target',
            width       : 500,
            height      : 500,
            logo        : "{% static 'img/gear.gif' %}"
        });

        $.ajax({
            url: form_url,
            type: form_method,
            data: form_data,
            cache: false,
            success: function (returnhtml) {
               $('.modal').toggleClass('hide');
               $('#spinnerDiv').hide()
                FLEXPAPER.utils.removeSpinner('spinner-target');
                $("body").html(returnhtml)
            }
        });
        })



    });
</script>


<div id="content-wrapper">
	<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
	 <div class="mui-row">
               <div class="col-xs-12">
                     <div id="spinnerDiv" style="display:none">
                     <div class="modal"> </div>
                        <div class="overlay loading-indicator">
                         <div id="spinner-target"></div>
                       </div>
                    </div>
               </div>
          </div>
    <div class="mui-row">
        <div class="mui-col-md-12">
			 {% if noData %}
                <div class="mui--text-center">
                    <div class="mui--text-display2">No Earthquakes for the requested data</b></div>
                     <a href="{% url 'floybd:heatMapEarthquakes' %}">
                         <input type="button" value="Go Back" class="mui-btn mui-btn--primary"/>
                     </a>
                </div>
                {% else %}
		<div class="mui--text-center">
			<div class="mui--text-display2">Viewing Heatmap from <b>{{  date }}</b> </div>

		<form name="heatMapform" id="heatMapform" action="{% url 'floybd:getHeatMapEarthquakesKML' %}" method="post" class="form">
			{% csrf_token %}
			<input type="hidden" name="date" value="{{  date }}">
			<input type="hidden" name="millis" value="{{  millis }}">
			<input type="submit" value="{{ sendValues }}" class="mui-btn mui-btn--primary"/>
			<a href="{% url 'floybd:heatMapEarthquakes' %}"><input type="button" value="Go Back" class="mui-btn mui-btn--primary"/></a>
		</form>
		</div>
		<div class="span6 center-block" id="map" style="height: 75%;width: 100%;"></div>
	{% if data != None %}
		<script>
		  var map;
		  function initMap() {
		  var heatmapData = [];
		  debugger;
			{% for row in data %}
				var latLng = new google.maps.LatLng({{row}}[0], {{row}}[1]);
				var pWeight = {{row}}[2];

				if(pWeight){
					var weightedLocation = {location:latLng,weight:pWeight};
					heatmapData.push(weightedLocation);
	          	}else{
					heatmapData.push(latLng);
	          	}
			 {% endfor %}
			map = new google.maps.Map(document.getElementById('map'), {
			  	zoom: 2,
          		center: {lat: 37.775, lng: -122.434},
         		mapTypeId: 'satellite'
			});

			var heatmap = new google.maps.visualization.HeatmapLayer({
			  data: heatmapData,
			  map : map,
			  dissipating : false
			});
		   //heatmap.setMap(map);
      }
		</script>
	 {% endif %}


		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-aQfXs4a0-BSGR3VmoIYdvknXMVh-W8&libraries=visualization&callback=initMap"
		  async defer></script>
			 {% endif %}
		</div>
	</div>
</div>
</div>
{% include "floybd/footer.html" %}